<!-- Footer -->
<div style='padding-top: 40px;'>
  <footer class="page-footer font-small pt-4">
    <div class="footer-copyright text-center py-3">Developed by
      <a href="https://github.com/connorksmith/"> Connor Smith</a>
      using MongoDB | Express | Angular | Node.js.
      <br>
      <br>
      <a class="page-scroll" href="https://github.com/ConnorKSmith/Live-Sports-Scores">
	    	<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="width:30px; height:30px; margin-right: 5px;">
	    	Github Repo
	    </a>
      <br>
      <br>
      <a href="disclaimer">Disclaimer.</a>
    </div>
  </footer>
</div>