header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: Palatino Linotype, sans-serif;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container-score {
  position: relative;
  z-index: 2;
}

.container-buttons {
  padding-top: 10px;
  text-align: center;
}

.button-row {
  padding-top: 20px;
  text-align: center;
}

.main-button {
  color: white;
  background-color: #ff7700;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Palatino Linotype, sans-serif;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.main-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


.glyphicon-score {
  padding-right: 15px;
}

.text-white {
  padding-top: 150px;
  color: white;
  font-size: 38px;
}

.img-container {
    position:relative;
}

.img2 {
    border:1px solid #021a40;
    -moz-filter:brightness(50%);
}

.img1 {
  transition: all .2s ease-in-out; 
}

.img1:hover {
    transform: scale(1.2); 
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://asset-sports.abs-cbn.com/web/dev/articles/1552518008_gettyimages-1128984653.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }

  .text-white {
    font-size: 20px;
  }
}