<header>
  <div class="overlay"></div>
  <video id="video" playsinline="playsinline" autoplay="autoplay" loop="loop" muted="muted">
    <source src="https://res.cloudinary.com/dhu7zilhz/video/upload/v1552635692/crosby_goal.mp4" type="video/mp4">
  </video>
  <div class="container-score h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3"><span class="glyphicon glyphicon-fire glyphicon-score" style="color:red; font-size: 40px;"></span><span class='header-title'>Live Sports Scores</span></h1>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container-buttons">
    <div class="col-lg-12">
    </div>
    <div class="row button-row">
      <div class="col-md-3 mx-auto">
        <a class="page-scroll" href="scores/nhl-scores">
          <h2>
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/05_NHL_Shield.svg/800px-05_NHL_Shield.svg.png" style="width:72px;height:84px; margin-right: 5px;">
          NHL
          <br>
          <br>
          <img src="https://res.cloudinary.com/dhu7zilhz/image/upload/v1552645506/8397660832.png" alt="Snow" style="border-radius: 12px; width: 75%">
          </h2>
        </a>
      </div>
      <div class="col-md-3 mx-auto">
        <a class="page-scroll" href="scores/nba-scores">
          <h2>
            <img src="https://upload.wikimedia.org/wikipedia/en/0/03/National_Basketball_Association_logo.svg" style="width:84px;height:84px;">
            NBA
            <br>
            <br>
            <img src="https://res.cloudinary.com/dhu7zilhz/image/upload/v1552646375/curry_basketball.png" alt="Snow" style="border-radius: 12px; width: 75%">
          </h2>
        </a>
      </div>
      <div class="col-md-3 mx-auto">
        <a class="page-scroll" href="scores/mlb-scores" style="margin-top: 4px;">
          <h2>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1920px-Major_League_Baseball_logo.svg.png" style="width:146px;height:84px;">
            MLB
            <br>
            <br>
            <img src="https://res.cloudinary.com/dhu7zilhz/image/upload/v1552646375/baseball_stadium.png" alt="Snow" style="border-radius: 12px; width: 75%">
          </h2>
        </a>
      </div>
      <div class="col-md-3 mx-auto">
        <a class="page-scroll" href="scores/nfl-scores">
          <h2>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/800px-National_Football_League_logo.svg.png" style="width:60px;height:84px; margin-right: 5px;">
            NFL
            <br>
            <br>
            <img src="https://res.cloudinary.com/dhu7zilhz/image/upload/v1552646374/football_apeterson.png" alt="Snow" style="border-radius: 12px; width: 75%" left>
          </h2>
        </a>
      </div>
    </div>
  </div>
</section>