<div *ngIf="nhlScore" class="row">
	<div class="col-md-12">
    <h2  align="center">
    	{{nhlScore.home_team}} vs. {{nhlScore.away_team}}
    </h2>
  </div>
  <form class="col-md-12">
    <div class="form-group">
      <label for="nhl-score-time-remaining">Time Remaining</label>
      <input class="form-control" name="score-time-remaining" [(ngModel)]="nhlScore.time_remaining" placeholder="Time Remaining"/>
    </div>
    <div class="form-group">
      <label for="nhl-score-home-team">Home Team Name</label>
      <input class="form-control" name="score-home-team" [(ngModel)]="nhlScore.home_team" placeholder="Home Team Name"/>
    </div>
    <div class="form-group">
      <label for="nhl-score-home-score">Home Score</label>
      <input class="form-control" name="score-home-score" [(ngModel)]="nhlScore.home_score" placeholder="Home Score"/>
    </div>
    <div class="form-group">
      <label for="nhl-score-away-team">Away Team Name</label>
      <input class="form-control" name="nhl-score-away-team" [(ngModel)]="nhlScore.away_team" placeholder="Away Score"/>
    </div>
    <div class="form-group">
      <label for="nhl-score-away-score">Away Score</label>
      <input class="form-control" name="score-away-score" [(ngModel)]="nhlScore.away_score" placeholder="Away Score"/>
    </div>
  </form>
</div>