<div style="">
<div class="row">
  <div class="col-md-12">
    <h2 style="text-align: center;" >
    	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3a/05_NHL_Shield.svg/800px-05_NHL_Shield.svg.png" style="width:48px;height:56px; margin-right: 5px;">
    	NHL Scores
    </h2>
    <div style="overflow-x:hidden;">
		<table class="center" style="">
		  <tr *ngFor="let score of scores"
	        (click)="
	        	selectScore(score);
	        	ngxSmartModalService.getModal('myModal').open()">
		    <td class="teams" style="width: 70%;" title="">
		    	<p>
		    		<span *ngIf="score.home_score>score.away_score && score.time_remaining!='Live'; then homeWinnerName else homeLoserName" class="glyphicon glyphicon-triangle-right" style='float:left; font-size:70%;padding-top: 3px;'></span>
		    		<ng-template #homeWinnerName>
		    			<span class="glyphicon glyphicon-triangle-right" style='float:left; font-size:70%;padding-top: 3px;'></span>
		    			<img src="assets/logos/nhl-logos/{{score.home_team_id}}.svg" class="table-logo">
		    			<span style='float:left; font-weight: bold'>{{score.home_team}}</span>
		    		</ng-template>
		    		<ng-template #homeLoserName>
		    			<img src="assets/logos/nhl-logos/{{score.home_team_id}}.svg" class="table-logo">
		    			<span style='float:left;'>{{score.home_team}}</span>
		    		</ng-template>
		    	</p>
		    	<p style='padding-top: 10px;'>
		    		<span *ngIf="score.away_score>score.home_score && score.time_remaining!='Live'; then awayWinnerName else awayLoserName" class="glyphicon glyphicon-triangle-right" style='float:left; font-size:70%;padding-top: 3px;'></span>
		    		<ng-template #awayWinnerName>
		    			<span class="glyphicon glyphicon-triangle-right" style='float:left; font-size:70%;padding-top: 3px;'></span>
		    				<img src="assets/logos/nhl-logos/{{score.away_team_id}}.svg" class="table-logo">
		    			<span style='float:left; font-weight: bold'>{{score.away_team}}</span>
		    		</ng-template>
		    		<ng-template #awayLoserName>
		    			<img src="assets/logos/nhl-logos/{{score.away_team_id}}.svg" class="table-logo">
		    			<span style='float:left;'>{{score.away_team}}</span>
		    		</ng-template>
		    	</p>
		    </td>
		    <td style="width: 15px;" *ngIf="score.started; else notStarted">
		    	<p>
		    		<span *ngIf="score.home_score>score.away_score && score.time_remaining!='Live'; else homeLoser" style='float:right; font-weight: bold'>	
		    			{{score.home_score}}
		    		</span>
		    		<ng-template #homeLoser> 
		    			<span style='float:right;'>{{score.home_score}}</span>
		    		</ng-template>
		    	</p>
		    	<p style='padding-top: 10px;'>
		    		<span *ngIf="score.away_score>score.home_score && score.time_remaining!='Live'; else awayLoser" style='float:right; font-weight: bold'>	
		    			{{score.away_score}}
		    		</span>
		    		<ng-template #awayLoser> 
		    			<span style='float:right;'>{{score.away_score}}</span>
		    		</ng-template>
		    	</p>
		    </td>
		    <ng-template #notStarted>
		    	<td></td>
		    </ng-template>
		    <td style="width: 23%; text-align: center;">
		    	<span *ngIf="score.time_remaining=='Live'; else notLive" style="color: red; font-style: italic;">
	        		Live
	        	</span>
	        	<ng-template #notLive> 
		    		<span *ngIf="score.time_remaining=='Final'; else notStarted" style="">

	        			<span class="bold-text" style="">Final</span>
	        			<span class="bold-text" *ngIf="score.shootout; else notShootout">/SO</span>
	        			<ng-template #notShootout>
	        				<span class="bold-text" *ngIf="score.overtime;">/OT</span>
	        			</ng-template>
		        	</span>
		        	<ng-template #notStarted> 
		        		<span class="preview-text" style="">
		        		{{score.time_remaining}}
		        		</span>
		        	</ng-template>
		    	</ng-template>
		    </td>
		  </tr>
		</table>
	</div>
  </div>
<ngx-smart-modal #myModal identifier="myModal" class='nhl-modal'>
<div *ngIf="myModal.hasData()">
  <div class="col-md-12 modal-row1">
    <div class='inline'>
    	<img src="assets/logos/nhl-logos/{{myModal.getData().home_team_id}}.svg" width="47%" style="">
    </div>
	<div class='inline' style="width:1%;">vs</div>
	<div class='inline' >
		<img src="assets/logos/nhl-logos/{{myModal.getData().away_team_id}}.svg" width="47%" style="">
	</div>
  </div>
  <div class="col-sm-12 modal-row2" style="padding-bottom: 10px">
    <div class='col-sm-5 center-text' width="49%">
    	<!--<span class="center-text"> ({{myModal.getData().home_num_wins}}-{{myModal.getData().home_num_losses}}-{{myModal.getData().home_num_otl}}) </span>
    </div>
    <div class='inline col-sm-1'></div>
	<div class='col-sm-5 center-text' width="49%">
		<span class="center-text "> ({{myModal.getData().away_num_wins}}-{{myModal.getData().away_num_losses}}-{{myModal.getData().away_num_otl}}) </span>-->
	</div>
  </div>
  <div class="col-md-12 center-text full-width">
    	<table class='full-width box-score-small table table-bordered type-list2'>
    		<tr class="box-score-row">
    			<th></th>
    			<th>1st</th>
    			<th>2nd</th>
    			<th>3rd</th>
    			<th *ngIf="myModal.getData().overtime;">
    				OT
    			</th>
    			<th *ngIf="myModal.getData().shootout;">(SO)</th>
    			<th>Final</th>
    		</tr>
    		<tr class="box-score-row">
    			<td>{{myModal.getData().home_team}}</td>
    			<td>{{myModal.getData().home_period1_goals}}</td>
    			<td>{{myModal.getData().home_period2_goals}}</td>
    			<td>{{myModal.getData().home_period3_goals}}</td>
    			<td *ngIf="myModal.getData().overtime;">
    				{{myModal.getData().home_ot_goals}}
    		
    			</td>
    			<td *ngIf="myModal.getData().shootout;">({{myModal.getData().home_so_goals}})</td>
    			<td>{{myModal.getData().home_score}}</td>
    		</tr>
    		<tr>
    			<td>{{myModal.getData().away_team}}</td>
    			<td>{{myModal.getData().away_period1_goals}}</td>
    			<td>{{myModal.getData().away_period2_goals}}</td>
    			<td>{{myModal.getData().away_period3_goals}}</td>
    			<td *ngIf="myModal.getData().overtime;">
    				{{myModal.getData().away_ot_goals}}
    			</td>
    			<td *ngIf="myModal.getData().shootout;">({{myModal.getData().away_so_goals}})</td>
    			<td>{{myModal.getData().away_score}}</td>
    		</tr>
    	</table>
    </div>
  <div class='center-text'>
  	<button class='btn btn-warning' (click)="myModal.close();">Close</button>
  </div>
</div>
</ngx-smart-modal>

<!--
  <div class="col-md-12" style="width: 400px; ">
    <nhl-score-details
      [nhlScore]="selectedScore">
    </nhl-score-details>
  </div>
-->
</div>
</div>