      
<div>
      <h1>Disclaimer</h1>
	  <p class="disclaimer">Any of the trademarks, service marks, collective marks, design rights or similar rights that are mentioned are the property of their respective owners. This site is neither endorsed by nor affiliated with any of the holders of any such rights and as such cannot grant any rights to use any otherwise protected materials.</p>
	  <br>
	  <br>
	  <h1>Affiliation</h1> 
	  <p>Some of the information on this site is obtained from nfl.com, nba.com, mlb.com and nhl.com who are in no way affiliated with this website. This site has been designed to help promote NFL football, NBA basketball, MLB baseball and NHL hockey. All team names and logos designs are registered trademarks of the teams indicated. All professional organization shield designs (NFL, NBA, MLB or NHL) are registered trademarks of each organization.</p>
</div>
